{% extends "base.html" %}

{% block content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <ul class="bread-list">
                            <li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
                            <li class="active"><a href="blog-single.html">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Shop Login -->
    <section class="shop login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12">
                    <div class="login-form">
                        <h2>Login</h2>
                        <p>Please register in order to checkout more quickly</p>
                        <!-- Form -->
                        <form class="form" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Your Email<span>*</span></label>
                                        <input type="email" name="username" placeholder="" required="required">
                                        {% if form.username.errors %}
                                            {% for error in form.username.errors %}
                                                <div class="alert alert-danger">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Your Password<span>*</span></label>
                                        <input type="password" name="password" placeholder="" required="required">
                                        {% if form.password.errors %}
                                            {% for error in form.password.errors %}
                                                <div class="alert alert-danger">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group login-btn">
                                        <button class="btn" type="submit">Login</button>
                                        <a href="{% url 'register' %}" class="btn">Register</a>
                                        <!-- Update 'signup' to your signup page URL name -->
                                    </div>
                                    <div class="checkbox">
                                        <label class="checkbox-inline" for="remember_me"><input name="remember"
                                                                                                id="remember_me"
                                                                                                type="checkbox">Remember
                                            me</label>
                                    </div>
                                    {#                                <a href="{% url 'password_reset' %}" class="lost-pass">Lost your password?</a> <!-- Update 'password_reset' to your password reset page URL name if available -->#}
                                </div>
                            </div>
                        </form>
                        <!--/ End Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Login -->
    
{% endblock %}